* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    width: 100vw;
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 10px;

    background: #000000;
    transition: .5s;
}

#githubImage { 
    width: 30vw;

    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

p { 
    color: #95f800d7;
    word-break: break-all;

    font-size: calc(0.7vw);
}